.dino {
  animation: move 40s infinite linear;
}

@keyframes move {
  0% {
    left: 0;
    transform: scaleX(1);
  }
  50% {
    left: calc(100% - 100px);
    transform: scaleX(1);
  }
  51% {
    transform: scaleX(-1);
  }
  100% {
    left: 0;
    transform: scaleX(-1);
  }
}
.marquee-container {
  position: absolute;
  width: 108vw !important;
  overflow: hidden;
}

.marquee-container.one {
  left: -2.5% !important;
  top: -19em;
  rotate: 20deg ;
}
.marquee-container.two {
  right: 4% !important;
  top: -22.5em;
  rotate: -20deg ;
}

/* .review-box {
  width: 200px;
  height: 200px;
  transition: transform 0.3s ease-in-out;
}

.center {
  transform: translateX(0);
  background-color: blue;
}

.left {
  background-color: red;
  transform: translateX(-200px) rotate(-15deg);
}

.right {
  transform: translateX(200px) rotate(15deg);
  background-color: green;
}

.pagination {
  text-align: center;
  margin-top: 20px;
} */
