@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Athletics';
    src: url('./assets/fonts/AthleticsRegular.otf');
}
@font-face {
    font-family: 'PP Formula Light';
    src: url('./assets/fonts/PPFormula-Condensed-Ultralight.otf');
}
@font-face {
    font-family: 'PP Formula Normal';
    src: url('./assets/fonts/PPFormula-CondensedBlack.otf');
}


